<% if flash[:notice].present? %>
<p class="notice"><%= flash[:notice] %></p>
<% end %>
<div class="media"><script type="text/javascript" src="/views/inject.js"><![CDATA[
]]></script></div>
<div class="copy"><p>Equirectangular panorama with ActionScript(Alternativa3D).</p>
<p><a href="https://github.com/suzumura-ss/flash_sphere_panorama">https://github.com/suzumura-ss/flash_sphere_panorama</a></p></div>
