.css3_3d_transform
  margin: 8px

.menu
  .social_bookmark
    padding-left: 0
    padding-bottom: 16px
    list-style: none
    li
      float: left
    li.twitter
      width: 100px
  .top
    clear: both
  &.css
    padding-left: 8px

